<!DOCTYPE html>
<html>
<title>MAPE balsa</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-navbar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee, {font-size:200px}
.fa-search,.fa-paper-plane,.fa-gift{font-size:100px}
</style>
<!-- Navbar -->
<ul class="w3-navbar w3-red w3-card-2 w3-top w3-left-align w3-large">
  <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
    <a class="w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
  </li>
  <li><a href="#" class="w3-padding-large w3-white">Home</a></li>
  <li class="w3-right"><a href="#comprar" class="w3-padding-large w3-hover-white">¿Cómo comprar?</a></li>
  <li class="w3-right"><a href= "/productos" class="w3-padding-large w3-hover-white">Productos</a></li>
  <li class="w3-right"><a href="#nosotros" class="w3-padding-large w3-hover-white">Nosotros</a></li>
  <li class="w3-right"><a href="#contactos" class="w3-padding-large w3-hover-white">Contacto</a></li>


</ul>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:51px">
  <ul class="w3-navbar w3-left-align w3-large w3-black">
    <li><a class="w3-padding-large" href="#">¿Cómo comprar?</a></li>
    <li><a class="w3-right" href="#comprar">Productos</a></li>
    <li><a class="w3-right" href="#productos">Nosotros</a></li>
    <li><a class="w3-right" href="#contactos">Contacto</a></li>
  </ul>
</div>




<head>
</head>
<body>

  {% block body_block %} {% endblock %}

</body>