{%extends "base3.html"%}
{%block body_block%}
<!-- Header -->
<div class="w3-container w3-red w3-center w3-padding-128">
  <h1 class="w3-margin w3-jumbo">MAPE Balsa.</h1>
  <h3 class="w3padding-32">Aqui podras encontrar el catalogo de nuestros productos </h3>
  <p class="w3-xlarge">y toda la información para ponerte en contacto y adquirirlos</p>

  <button class="w3-btn w3-padding-16 w3-large w3-margin-top">Get Started</button>
</div>

<!-- First Grid -->
<a name="nosotros"></a>
<div class="w3-row-padding w3-padding-64 w3-container ">
  <div class="w3-content">
    <div  class="w3-twothird">
    
      <h1>¿Quiénes Somos?</h1>
      <h5 class="w3-padding-32">MAPE balsa es una empresa dedicada la venta de madera balsa localizada en La Plata, Argentina.</h5>
    </div>
    <div class="w3-third w3-center">
      <i class="fa fa-mail w3-padding-64 w3-text-red"></i>
    </div>
  </div>
  <div class="w3-content">
    <div class="w3-third w3-center">
    <span class="glyphicon glyphicon-leaf"></span>
        </div>
    <div class="w3-twothird">    
      <h1>¿Por que comprar en MAPE?</h1>
      <h5 class="w3-padding-32"> Ademas de nuestros precios, Nuestros productos provienen de plantaciones certificadas</h5>
     </div>
  </div>
  
  <div class="w3-content">
  <a name="contactos">
      <div class="w3-twothird">
      <h1>¿Mas preguntas o consultas?</h1></a>
      <h5 class="w3-padding-32"> Pongase en contacto con nuestro gerente mediante gerente@gerente.com  </h5>
      </div>
  </div>
</div>


<!-- 2 Grid -->
<a name="comprar"></a>
<div class="w3-row-padding w3-padding-8 w3-container w3-black w3-opacity">
<div class="w3-row w3-padding-8 ">
<h1> Cómo comprar: </h1>
</div>
<div class="w3-row">
 <div class="w3-quarter w3-container w3-center  w3-padding-16 ">
  <i class="fa fa-search "></i>
 </div>
<div class="w3-threequarter w3-container w3-center w3-padding-16 ">
 <h1> 1.  Elegi el producto que queres comprar de nuestro catalogo.</h1>
</div>
</div>
<div class="w3-row w3-border">
 <div class="w3-threequarter w3-container">
 <h2 class ="w3-padding-8"> 2. Comunicate con nuestros vendedores al 22124124123 o mediante correo al corre@correo.com.</h2>
  <h5 class="w3-text-grey"> Aqui podras definir la forma de pago, y consultar sobre tamaños especiales, precios o cualquier duda que tengas. Ademas podras cordinar la forma de envio </h5>
 </div>
<div class="w3-quarter w3-container w3-center w3-padding-32">
  <i class="fa fa-paper-plane w3-padding-16"></i>
</div>
</div>
<div class="w3-row">
<div class="w3-container w3-center">
  <i class="fa fa-gift w3-padding-32"></i>
  <h2> 3. Recibitu envio </h2>
</div>

</div>
</div>




{%endblock%}
